.header {
    width: 100%;
    display: block;
    padding-top: 20px;
}

.blank_left {
    width:20%;
    display: inline-block;
    #font-family: Rubik;
    float:left;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;

}

.logo {
    width: 60%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.logo img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.username {
    display:inline-block;

}

.register {
    display: inline-block;
    padding-bottom: 20px;
}


.logout {
    display: inline-block;
    padding-left: 30px;
}
