.header {
    width: 30%;
    display: block;
    padding-top: 20px;
    float: right;
}


.add_record {
    width:20%;
    display: inline-block;
    text-align: right;
}

#id_report_text {
 width: 130%;
 height: 50%;
}


.logo {
    width: 60%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.logo img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.username {
    display:inline-block;
    text-align: center;
    width: 100%;

}

.register {
    display: inline-block;
    padding-bottom: 20px;
}


.logout {
    display: inline-block;
    padding-left: 100px;
    padding-top: 10px;
}
