.header {
    width: 100%;
    display: block;
    height: 10%;

}

.controls {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.controls img{
    width:100%;

}

.add_note {
    width: 30%;
    display: block;
    float: left;
    padding-top: 1%;
}

.add_note a {
    width: 20%;
    display: block;
    float: right;
}


.add_note img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.add_record {
    width:20%;
    display: inline-block;
    text-align: right;
}

#id_report_text {
 width: 130%;
 height: 50%;
}


.logo {
    width: 60%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.logo img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.label {
    display:inline-block;
    padding-top: 2%;
    text-align: end;
    width: 30%;
    padding-left:10%;

}

.label a {
    width: 100%;
    display: block;

}

.label h5 {
    font-size: 1.75rem;

}

.label img {
    display: block;
    height: 80%;
    padding-left: 70%;
    padding-top: 3%;


}

.register {
    padding-top: 5%;
    width: 10%;
    text-align: center;
    float: right;
}

.register a {
    color:red;
    padding-right:15%;
}

.logout {
    width: 30%;
    display: block;
    float: right;
    padding-bottom: 10%;
    padding-top: 0.5%;
    text-align: right;
    height:10%;
}

.logout p {
    display: inline-block;
    padding-top:5%;

}

.logout img {
    height: 8vh;
    padding-top:1.5%;
    padding-left: 3%;
}