.record_layout {
    width:65%;
    display:inline-block;
    float:left;
    margin-left: 3%;
    margin-top: 5%;
}

.record_layout ul {
    display:inline-block;
    width: 100%;
}

.record_layout li {
    display:inline-block;
}

.record_date {
    float:left;
    width:20%;
}

.record_issue_category {
    width:20%;
}

.record_text {
    width:60%;
    float:right;
}

.notes_layout {
    display:inline-block;
    width:20%;
    border: 1.5px solid #da5959;
    margin-top: 5%;
    margin-left: 6%;
}

.notes_layout p {
    margin-top: 2%;
    margin-bottom: 1rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.notes_layout a {
    width: 10%;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    font-size: 24;
}

.notes_layout ul {
    padding-left: 0.8rem; !important;
    list-style: none;
    width: 100%;
}

.notes_layout ul:hover .notes_meta {
    display: inline-block;

}

.notes_meta {
    display:none;
    font-size:10pt;
    font-style: italic;
}

.notes_layout ul a {
    font-size: 12pt;
    width: 5%;
    float:right;
    color: red;
}






