.records {
    width: 85%;
    margin-left:auto;

}


.record_layout {

    margin-top:1%;
    border: 1.5px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.8rem; !important;

}

.bar {
    padding-top: 1.5%;
    width: 15%;
    float: left;
}

.bar input {
    margin-top: 10%;
}

.bar select {
    margin-top: 10% !important;
}


.selector-container {
    width: 100%;
    text-align: center;
}


table {
    border-collapse: collapse;
    margin-bottom: 2%;
}

table th {
    text-align: center;
}

table td {
    padding: 3px;
    border: 1px solid black;

}

table th {
    padding: 3px;
    border: 1px solid black;

}

.record_layout ul {
    display:inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.record_layout li {
    display:inline-block;
}

.record_date {
    float:left;
    width:20%;
}

.record_issue_category {
    width:20%;
}

.record_text {
    width:60%;
    float:right;
}

.notes {
    width: 85%;
    margin-left:auto;

}


.notes_layout {

    margin-top:0.5%;
    border: 1.5px solid darkgreen;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.8rem; !important;
    padding-bottom: 0.5rem;

}

.edit_note {

}


[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.notes_layout a {
    width: 4%;
    margin-top: 1%;
    display: inline-block;
    margin-left: 30%;
}

.notes_layout ul {
    padding-left: 0.8rem; !important;
    list-style: none;
    width: 100%;
}

.notes_layout ul:hover .notes_meta {
    display: inline-block;

}

.notes_meta {
    display:none;
    font-size:10pt;
    font-style: italic;
}

.notes_layout ul a {
    font-size: 12pt;
    width: 5%;
    float:right;
    color: red;
}

div.search-label-icon {
    display: block;
    margin-left: 59%;
    margin-right: auto;
    width: 10%;

}

.selector-filter {
    margin-left:3%;
}

.bar {
}

textarea {
 resize:vertical;
 width: 80% !important;
}


.btn {
 margin-top: 10px;
}

.btn-success {
 color:#fff;
 background-color:#b51212 !important;
 border-color:#b51212 !important;

}

#box {
width: 90%;
}

.highlight { background-color: yellow }
