{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{%  block title %}

    <title>Добавить заметку</title>

{%  endblock %}

{%  block content %}

<div class='row' style="margin-top:100px; text-align: center">

    <div class="col-md-6 offset-md-3">

        <h3 class="text-center">Добавить заметку</h3>
        <hr style="">
        <form action ='' method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>
    </div>


</div>


{%  endblock %}