{%  extends 'base.html' %}
{% load static %}

{%  block title %}

    <title>Документы</title>

{%  endblock %}

{%  block content %}

    <div class="header" style="background:none">

                    {% if user_is_admin == True %}
                        <div class="add_task" style="">
                            <a class="authorization" href="{% url 'добавить регулярное задание' %}">Добавить регулярное задание +</a>
                        </div>
                    {% endif %}

                    <div class="logo">

                        <a href="/" >
                            <img src={% static 'images/360_International_white.png'%}>
                        </a>


                    </div>


                    {% if device == 'pc' %}
                        <div class="reset_password">
                            <!--<a href="{% url 'сменить пароль' %}">Сменить пароль</a>-->
                        </div>
                    {% endif %}


                    <div class="logout">
                        {% if request.user.is_authenticated %}
                                {% if device == 'mobile' %}
                                    <span><p id="username">{{ current_user }}</p></span>
                                {% else %}
                                    <!--<a href="{% url 'отправить email' %}">Отправить Email</a>-->
                                    <span><p id="username">{{ current_user }}</p></span>
                                    <a href="{% url 'logout' %}"><img src="{% static 'images/quit_white.png'%}" title="Выйти"
                                    ></a>
                                {% endif %}

                            {% endif %}
                    </div>

                    <div class="mobile_menu">
                        <img class="mobile_menu_image" src="{% static 'images/bm.png'%}">


                        <ul class="mobile_menu_list">
                            <li><a href={% url 'поиск мобильный' %}>Найти отчет</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>


                        </ul>
                    </div>

        </div>

    <div class="documents">


            {% if tile_name == 'Расстановка камер' %}
                {% for doc in docs %}
                    <div class="cameras_layout">
                        <img src="{{ doc.image.url }}" alt="{{ doc.name }}">
                        <figcaption>{{ doc.name }}</figcaption>
                    </div>
                {% endfor %}
            {% endif %}

            {% if tile_name == 'Схемы' %}
                <div class="schemes_layout">
                    <ul>
                        {% for doc in docs %}
                            <li><a href="{{ doc.file.url }}" target="_blank"><i class=""></i>{{ doc.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}

            {% if tile_name == 'Мануалы' %}

                    <div class="devices">

                        {% for device in devices %}

                            <div class="devices_layout">

                                <a href={% url 'мануалы к устройству' device.name %}><img src="{{ device.image.url }}" alt="{{ device.name }}"></a>
                                <figcaption>{{ device.name }}</figcaption>

                            </div>

                        {% endfor %}

                    </div>
            {% endif %}

            <div class="manuals">

                <div class="manuals_layout">
                    <ul>
                        {% for manual in manuals %}
                            <li><a href="{{ manual.file.url }}" target="_blank"><i class=""></i>{{ manual.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>



            </div>


    </div>




{%  endblock %}