{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Журнал 360</title>
{% endblock %}

{% block content  %}

    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/datepicker.min.js' %}"></script>


    <div class="template" style="background-image: url({% static 'images/back+logo_3840х2160-01.jpg'%}); background-size: cover">
        <div class="header" style="background-image: url({% static 'images/back+logo_3840х2160-01.jpg'%}); background-size: cover">

            <div class="logo">

                        <a href="/" >
                            <img src={% static 'images/360_International_white.png'%}>
                        </a>


                    </div>

                    <div class="logout">
                            {% if request.user.is_authenticated %}

                                <p>{{ current_user }}</p>

                            {% endif %}
                    </div>

                    <div class="mobile_menu">
                        <img class="mobile_menu_image" src="{% static 'images/bm.png'%}">


                        <ul class="mobile_menu_list">
                            <li><a href={% url 'поиск мобильный' %}>Найти отчет</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>

                        </ul>
                    </div>

            </div>


    </div>

    <div class="find">

        <div class="wrapper">
            <form name='sdate' class="selector-filter" action="{% url 'найти по дате' %}"
                                  id='datepicker' method="get" style="z-index: 2 !important">

                <input type='text' name='date' id='calendar' class="datepicker-here" data-inline="True"
                                          style="visibility: hidden" />
                <input type="submit" value="Найти" id="submit_button"  style="visibility: hidden" />




            </form>

            <form class="selector-filter" action="{% url 'найти по тексту' %}" method="get">
                                    <input name="q" type="text" id="textbox" placeholder="В тексте...">
                                    <br>
                                    <input id="search_text" type="submit" value="Найти">
            </form>
        </div>
    </div>



    <!--<div class="group_select">
            <ul id="group" style="list-style-type:none">
                {% if user_is_admin == True %}
                    {% for department in user_departments %}
                        <li><a href={% url 'фильтр по отделу' department.name %}>{{ department.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>-->


    <div class="groups_authors_select">



        <ul id="group_author" style="list-style-type:none">

            {% for group_author in groups_authors_list %}

                <li><a href={% url 'фильтр по группе' group_author.name %}>{{ group_author.name }}</a></li>

            {% endfor %}
        </ul>

    </div>


    <script type="application/javascript">

                    document.addEventListener("DOMContentLoaded", init_colors)

                    function init_colors() {
                        let cells = document.getElementsByClassName('datepicker--cell-day')

                        for (let i = 0; i < cells.length; i++) {
                            let day = cells[i].getAttribute('data-date')
                            let month = cells[i].getAttribute('data-month')
                            month = Number(month) + 1
                            month = String(month)
                            if (month.length < 2) {
                                month = '0' + month
                            }
                            if (day.length < 2) {
                                day = '0' + day
                            }
                            let year = cells[i].getAttribute('data-year')
                            let check_date = year + '-' + month + '-' + day

                            let shift_dates_list = {{ shifts_dates|safe }};

                            if (check_date in shift_dates_list) {
                                let shift = shift_dates_list[check_date]
                                color_date(cells[i], shift)

                            }
                            else {
                                console.log(check_date+' даты нет')
                            }
                        }
                        groups_colors()
                    }

                    function color_date(cell, shift) {
                        if (shift === 'shift_4_dates') {
                                cell.style.color = 'rgb(0, 200, 0)' ;
                            }
                        if (shift === 'shift_3_dates') {
                                cell.style.color = 'rgb(200, 0, 0)';
                            }
                        if (shift === 'shift_2_dates') {
                                cell.style.color =  'rgb(0, 160, 255)';
                            }
                        if (shift === 'shift_1_dates') {
                                cell.style.color = 'rgb(200, 200, 0)';
                            }
                    }

                    function groups_colors() {
                            let groups = document.querySelectorAll('ul#group_author > li')

                            for (let i = 0; i < groups.length; i++) {
                                let group_link = groups[i].querySelector('a')
                                if (group_link.innerText === 'Астахов и Козлов' || group_link.innerText === 'IT Захаров')  {
                                    group_link.style.color = 'rgb(200, 200, 0)'
                                }
                                if (group_link.innerText === 'Черпаков и Долгов'|| group_link.innerText === 'IT Дмитриевский') {
                                    group_link.style.color = 'rgb(0, 160, 255)'
                                }
                                if (group_link.innerText === 'Рославцев и Сидоренко'|| group_link.innerText === 'IT Деев') {
                                    group_link.style.color = 'rgb(200, 0, 0)'
                                }
                                if (group_link.innerText === 'Бороздин и Литвиненко'|| group_link.innerText === 'IT Крутихин') {
                                    group_link.style.color = 'rgb(0, 200, 0)'
                                }
                            }

                        }


                    window.onload = function() {

                        let el = document.getElementById('datepick');
                        console.log(el)
                        el.addEventListener("click", delay);

                        let elem = document.getElementsByClassName('datepicker--nav')[0]
                        elem.addEventListener("click", init_colors)


                    }

                    function delay(el) {
                        console.log(el)
                        setTimeout(send_date, 0.5);
                    }

                    function send_date() {
                        document.forms['sdate'].submit()
                    }




    </script>


-->


{% endblock %}