{% extends 'base.html' %}

{% block title %}
    <title>Журнал 360</title>
{% endblock %}


{% block content  %}
{%  for recs in rec_list %}
    <div class="record_layout">
    <ul>
         <li class="record_date">{{ recs.created_date }}</li>
         <li class="record_title">{{ recs.title }}</li>
         <li class="record_issue_category">{{ recs.issue_category }}</li>
         <li class="record_text">{{recs.text|truncatechars:300 }}
             <a href="{% url 'запись' recs.id %}">Читать полностью</a>


    </ul>
    </div>


{%  endfor %}

    <div class="notes">

    <p>Заметки:</p>

    </div>

{% endblock %}
