{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Журнал 360</title>
{% endblock %}


{% block content  %}

    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/datepicker.min.js' %}"></script>

    <script type="text/javascript">


    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.comments').forEach(item => {
            item.addEventListener('click', show_comments)
        })
    })

    function show_comments(e) {

        let add = e.currentTarget.querySelector('.add_comment');
        let input = e.currentTarget.querySelector('.add_comment input[name=input_text]')
        let c = e.currentTarget.querySelector('.comments_layout');
        let a = e.currentTarget.querySelector('#comms_link')


        if (add.style.display === 'none') {



            add.style.display = 'inline-block';
            input.focus();

            if (c !== null) {


                c.style.display = 'block';
                a.setAttribute('text_before', a.innerHTML);
                a.innerHTML = '';

            }
        }

        else {
                add.style.display = 'none';



                if (c !== null) {

                    c.style.display = 'none';
                    a.innerHTML = a.getAttribute('text_before');
                    <!--a.style.background = 'white';-->



                }
             }



    }

    </script>

    <div class="template">
        <div class="header">



                    <div class="add_note">
                        <a class="authorization" href="{% url 'добавить заметку' %}">Новая запись +</a>
                    </div>

                    <div class="logo">

                        <a href="/" >
                            <img src={% static 'images/360_International_white.png'%}>
                        </a>


                    </div>



                    {% if device == 'pc' %}
                        <div class="reset_password">
                            <a href="{% url 'сменить пароль' %}">Сменить пароль</a>
                        </div>
                    {% endif %}



                    <div class="logout">
                        {% if request.user.is_authenticated %}
                                {% if device == 'mobile' %}
                                    <span><p id="username">{{ current_user }}</p></span>
                                {% else %}

                                    <span><p id="username">{{ current_user }}</p><p id="user_group">{{ roles }}</p>
                                        <p id="user_department">{{ user_departments_list }}</p></span>

                                    <a href="{% url 'logout' %}"><img src="{% static 'images/quit_white.png'%}" title="Выйти"
                                    ></a>
                                {% endif %}

                            {% endif %}
                    </div>

                    <div class="mobile_menu">
                        <img class="mobile_menu_image" src="{% static 'images/bm.png'%}">


                        <ul class="mobile_menu_list">
                            <li><a href={% url 'по дате мобильный' %}>Найти по дате/тексту</a></li>
                            <li><a href="{% url 'фильтр по отделу мобильный' %}">Отдел/Группа</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>


                        </ul>
                    </div>

            </div>

        <div class="bar" id="bar">

            <form name='sdate' class="selector-filter" action="{% url 'найти по дате' %}"
                          id='datepicker' method="get" style="z-index: 2 !important">


                                <input type='text' name='date' id='calendar' class="datepicker-here" data-inline="True"
                                  style="visibility: hidden" />
                                <input type="submit" value="Найти" id="submit_button"  style="visibility: hidden" />



            </form>
                <script type="application/javascript">

                document.addEventListener("DOMContentLoaded", init_colors)

                function init_colors() {
                    let cells = document.getElementsByClassName('datepicker--cell-day')

                    for (let i = 0; i < cells.length; i++) {
                        let day = cells[i].getAttribute('data-date')
                        let month = cells[i].getAttribute('data-month')
                        month = Number(month) + 1
                        month = String(month)
                        if (month.length < 2) {
                            month = '0' + month
                        }
                        if (day.length < 2) {
                            day = '0' + day
                        }
                        let year = cells[i].getAttribute('data-year')
                        let check_date = year + '-' + month + '-' + day

                        let shift_dates_list = {{ shifts_dates|safe }};

                        if (check_date in shift_dates_list) {
                            let shift = shift_dates_list[check_date]
                            color_date(cells[i], shift)

                        }
                        else {
                        }
                    }
                    groups_colors()
                }

                function color_date(cell, shift) {
                    if (shift === 'shift_4_dates') {
                            cell.style.background = 'rgb(0, 200, 0)' ;
                        }
                    if (shift === 'shift_3_dates') {
                            cell.style.background = 'rgb(200, 0, 0)';
                        }
                    if (shift === 'shift_2_dates') {
                            cell.style.background =  'rgb(0, 160, 255)';
                        }
                    if (shift === 'shift_1_dates') {
                            cell.style.background = 'rgb(200, 200, 0)';
                        }
                }

                function groups_colors() {
                    let groups = document.querySelectorAll('ul#group_author > li')

                    for (let i = 0; i < groups.length; i++) {
                        let group_link = groups[i].querySelector('a')
                        if (group_link.innerText === 'Смена Астахов и Козлов' || group_link.innerText === 'IT Захаров')  {
                            group_link.style.color = 'rgb(200, 200, 0)'
                        }
                        if (group_link.innerText === 'Смена Черпаков и Долгов'|| group_link.innerText === 'IT Дмитриевский') {
                            group_link.style.color = 'rgb(0, 160, 255)'
                        }
                        if (group_link.innerText === 'Смена Рославцев и Сидоренко'|| group_link.innerText === 'IT Деев') {
                            group_link.style.color = 'rgb(200, 0, 0)'
                        }
                        if (group_link.innerText === 'Смена Бороздин и Литвиненко'|| group_link.innerText === 'IT Крутихин') {
                            group_link.style.color = 'rgb(0, 200, 0)'
                        }
                    }

                }


                window.onload = function() {

                    let el = document.getElementById('datepick');
                    el.addEventListener("click", delay);

                    let elem = document.getElementsByClassName('datepicker--nav')[0]
                    elem.addEventListener("click", init_colors)

                }



                let els = document.getElementsByClassName('datepicker--cell.datepicker--cell-month.-focus-')[0]

                $(els).ready(function() {
                    console.log(els)
                    delay_months()

                })

                function delay_months() {
                   if (typeof els !== 'undefined') {
                       console.log('months')
                       els.addEventListener("click", get_months);
                   }
                }

                function get_months() {
                    console.log('month clicked')
                }

                function delay() {
                setTimeout(send_date, 0.5);
                }

                function send_date() {
                    document.forms['sdate'].submit()
                }

                $(document).ready(function(){
                  $('body').on('click', '*', function(e){
                    console.log($(this));
                    if ($(this).hasClass('datepicker--cell.datepicker--cell-month.-focus-')) {
                        console.log('month clicked')
                    }
                    e.stopPropagation();
                  });
                });

                </script>

                <div class="selector-container">

                        {% if multirole == True %}
                                <br>
                                <div class="group_select">
                                        <ul id="group" style="list-style-type:none">

                                            {% for department in user_departments %}

                                                <li><a href={% url 'фильтр по отделу' department.id %}>{{ department.name }}</a></li>

                                            {% endfor %}
                                        </ul>
                                </div>
                        {% endif %}
                            <div class="groups_authors_select">

                                {% if multirole == True %}

                                    <div class="groups_authors_url_list">
                                        <p id="check">Отчет от:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></p>


                                        <div class="groups_authors">
                                            <ul class="" style="list-style-type:none; background: black; width: 250px;">

                                                    {% for group_author in groups_authors_list %}

                                                        <li><a href={% url 'фильтр по группе' group_author.id %}>{{ group_author.name }}</a></li>

                                                    {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                {% else %}


                                    <ul id="group_author" style="list-style-type:none; padding-top: 8%;">

                                        {% for group_author in groups_authors_list %}

                                            <li><a href={% url 'фильтр по группе' group_author.id department_id %}>{{ group_author.name }}</a></li>

                                        {% endfor %}
                                    </ul>



                                {% endif %}


                            </div>

                       <form class="selector-filter" action="{% url 'найти по тексту' %}" method="get">
                            <input name="q" type="text" id="box" placeholder="В тексте...">
                            <br>
                            <input type="submit" value="Найти">
                        </form>

                </div>

            </div>
    </div>

    <div class="content" style="background: fixed">
        <div class="notes">



        {% for note in notes %}
            <div class="notes_layout" style="border: 2px solid red;">
                <p style="">{{ note.report_date }} {{ note.author }}</p>
                <p style="">{{ note.message|linebreaks }}</p>

                {% if note.author == current_user %}

                        <div class="note_controls">

                            <a class="edit_note" href="{% url 'редактировать запись' note.id %}">
                                <img src="{% static 'images/edit.png'%}" title="Редактировать"></a>
                            <a style="" href="{% url 'удалить запись' %}"><img src="{% static 'images/delete.png'%}"></a>
                            <a style="" href="{% url 'отправить отчет' %}"><img src="{% static 'images/send.png'%}"
                                                           title="Отправить"></a>
                        </div>

                {% endif %}
            </div>


        {% endfor %}



    </div>

        <div class="records">
        {% for recs in records %}
            <div class="record_layout" id="record">
                <p style="display: none">{{ recs.get_author_group }}</p>
                <p style="display: none">{{ recs.get_author_names }}</p>
                 <p style="">{{ recs.report_date }}&nbsp{{ recs.author_group }}&nbsp{{ recs.author_name }}</p>
                 <p id="record_text" style="">{{recs.text|linebreaks }}</p>
            <div class="comments">
                     <p style="display:none ">{{ recs.get_comments_count }}</p>
                     {% if recs.comments_count > 0 %}
                        <a style="color:white" id="comms_link">Комментарии:({{ recs.comments_count }})</a>
                        <div class="comments_layout" style="display: none">

                            {% for Comments in recs.comments_set.all %}
                                <p id="comments_author">{{ Comments.author }}:</p>
                                        <p id="comments_text">{{ Comments.text }}</p>
                                        <p id="comments_created">{{ Comments.created }}</p>
                            {% endfor %}
                        </div>
                     {% else %}
                         <div style="" class="add_comment_button">
                            <button style="color:black; border-radius: 4px;" id="tp_add_comment">Добавить коммент +</button>
                         </div>
                     {% endif %}
                                <form class="add_comment" style="width:60%;margin-left:0;display:none" action="{% url 'добавить комментарий' recs.id %}">
                                        <input name="input_text" type="text" id="box" placeholder="Добавить комментарий...">
                                        <br>
                                        <input type="submit" value="Найти" style="display: none">
                                </form>

            </div>





            </div>
        {% endfor %}



        </div>
    </div>

{% endblock %}



