{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Журнал 360</title>
{% endblock %}


{% block content  %}



<div class="bar">

    {% if role == 'Техдирекция' %}

        <a class="authorization" href="{% url 'добавить заметку инженеров' %}">
                    <img src="{% static 'images/plus_circle_black.png'%}" title="Начать запись"
                         style="width: 25%; display: block;margin-left: auto;margin-right: auto;"></a>

    {% endif %}

    {% if role == 'Режиссеры' %}

        <a class="authorization" href="{% url 'добавить заметку режиссеров' %}">
                    <img src="{% static 'images/plus_circle_black.png'%}" title="Начать запись"
                         style="width: 25%; display: block;margin-left: auto;margin-right: auto;"></a>

    {% endif %}



    <div class="selector-container">

            <form class="selector-filter" action="{% url 'фильтр' %}" method="get">

                <label>C:</label>
                <input type="date" name="startdate" max="2025-06-04">
                <br>
                <label>По:</label>
                <input type="date" name="stopdate" max="2025-06-04">
                <br>

                {% if role == 'Все отчеты' %}
                    <br>
                    <label for="group"></label>
                        <select id="group" name="group">

                            <option >Отдел:</option>

                            {% for group in group_list %}

                                <option value={{ group }}>{{ group }}</option>

                            {% endfor %}
                        </select>
                {% endif %}
                <br>
                <label for="author"></label>
                <select id="author" name="author">

                    <option >Отчет от:</option>

                    {% for author in author_list %}

                        <option value={{ author.id }}>{{ author|truncatechars:18 }}</option>

                    {% endfor %}
                </select>


                <br>
                <input name="q" type="text" id="box" placeholder="В тексте...">
                <br>
                <input type="submit" value="Найти">
            </form>



        </div>
        <br>
        <br>
    <div class="username">
        {{ current_user }}

        <br>
        {{ role }}

    </div>

    <div class="logout">
            {% if request.user.is_authenticated %}

                <a style="width:100%;display:block" class="authorization" href="{% url 'logout' %}"><img src="{% static 'images/quit.png'%}" title="Выйти"
                style="width:15%; display: block;margin-left: auto;margin-right: auto;"></a>

            {% endif %}
        </div>

</div>


<div class="notes">



    {% for note in notes %}
        <div class="notes_layout" style="border: 2px solid dodgerblue;">
            <p style="text-align: center">{{ note.report_date }} {{ note.author }}</p>
            <p style="">{{ note.message|linebreaks }}</p>
            {% if role == 'Техдирекция' %}

                <a class="edit_note" href="{% url 'редактировать запись инженеры' note.id %}">
                    <img src="{% static 'images/edit.png'%}" title="Редактировать" style="width:70%"></a>

            {% endif %}

            {% if note.author == current_user %}
                <a style="" href="{%  url 'удалить запись' %}"><img style="width:70%" src="{% static 'images/delete.png'%}" </a>
            {% endif %}

            {% if role == 'Режиссеры' %}

                <a class="authorization" href="{% url 'редактировать запись режиссеры' note.id %}">
                   <img src="{% static 'images/edit.png'%}" title="Редактировать" style="width:70%"></a>

            {% endif %}

            <a style="" href="{% url 'отправить отчет' %}"><img src="{% static 'images/send.png'%}"
                                                   title="Отправить" style="width:80%;"></a>
        </div>


    {% endfor %}



</div>


<div class="records">
    {% for recs in records_list %}
        <div class="record_layout">
             <p style="text-align: center">{{ recs.report_date }} {{ recs.author }}</p>
             <p style="">{{recs.text|linebreaks }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}



