{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Журнал 360</title>
{% endblock %}


{% block content  %}

    <div class="record">

        {% for rt in record_text %}

            <div class="record_label">

                <ul>
                    <li>Отчет за: {{ rt.report_date }}</li>
                    <li>Отправил: {{ rt.author }}</li>
                </ul>

            </div>

            <div class='record_meta'>

                <ul>
                    <li>{{ rt.tags }}</li>
                    <br>
                    <br>
                    <li>Отправлено: <br> {{ rt.created_date }}</li>
                </ul>

                <div class="record_fulltext">
                    {{ rt.text }}
                </div>

            <div class="images">

                {% for image in images %}

                    <p>{{ image.record }}</p>
                    <img src="{{ image.image.url }}">
                {% endfor %}


            </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}